[ARCHWAY]
chain_id = augusta-1
wallet_name = <wallet name>
wallet_address = <wallet address>
validator_address = <validator address>
reserve = <balance in decimal to hold in reserve - default 0.1 >
password = <wallet password>
sleep_time = <sleep time between delegation cycles in seconds - default 600 seconds>

[Telegram]
telegram_token = <telegram bot token>
telegram_chat_id = <telegram chat id>
